@model IEnumerable<CarDealershipASPNETMVC.Models.FuelModel>

@{ 
    // SettingsFuel
}

<h1>Kraftstoff</h1>

<br />
<h2>Kraftstoff Liste</h2>
<a asp-controller="SettingsFuel" asp-action="Search" class='btn btn-primary btn-sm'>Search Kraftstoff</a>
<a asp-controller="SettingsFuel" asp-action="Create" class='btn btn-primary btn-sm'>Create neue Kraftstoff</a>  

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FuelID)</th>
            <th>@Html.DisplayNameFor(model => model.FuelName)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (FuelModel fuel in Model)
            {
                <tr>
                    <td>@fuel.FuelID</td>
                    <td>@fuel.FuelName</td>
                    <td>                     
                        <a asp-controller="SettingsFuel" asp-action="Edit" class='btn btn-primary btn-sm' asp-route-id="@fuel.FuelID">Edit</a>
                        <a asp-controller="SettingsFuel" asp-action="Delete" class='btn btn-danger btn-sm' asp-route-id="@fuel.FuelID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>