@model IEnumerable<CarDealershipASPNETMVC.Models.CarAccessoriesProductGroupModel>

@{ 
    // SettingsCarAccessoriesProductGroup
}

<h1>Produktgruppe Autozubehör</h1>

<br />
<h2>Produktgruppe Autozubehör Liste</h2>     
<a asp-controller="SettingsCarAccessoriesProductGroup" asp-action="Search" class='btn btn-primary btn-sm'>Search Produktgruppe Autozubehör</a>
<a asp-controller="SettingsCarAccessoriesProductGroup" asp-action="Create" class='btn btn-primary btn-sm'>Create neu Produktgruppe Autozubehör</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CAPGId)</th>
            <th>@Html.DisplayNameFor(model => model.CAPGName)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (CarAccessoriesProductGroupModel carAPG in Model)
            {
                <tr>
                    <td>@carAPG.CAPGId</td>
                    <td>@carAPG.CAPGName</td>
                    <td>                     
                        <a asp-controller="SettingsCarAccessoriesProductGroup" asp-action="Edit" class='btn btn-primary btn-sm' asp-route-id="@carAPG.CAPGId">Edit</a>
                        <a asp-controller="SettingsCarAccessoriesProductGroup" asp-action="Delete" class='btn btn-danger btn-sm' asp-route-id="@carAPG.CAPGId">Delete</a> 
                    </td>
                </tr>
            }
    </tbody>
</table>