@model IEnumerable<CarDealershipASPNETMVC.Models.CarAccessoriesUnitModel>

@{ 
    // SettingsCarAccessoriesUnit
}

<h1>Einheit</h1>

<br />
<h2>Einheits Liste</h2>
<a asp-controller="SettingsCarAccessoriesUnit" asp-action="Search" class='btn btn-primary btn-sm'>Search Einheit</a>
<a asp-controller="SettingsCarAccessoriesUnit" asp-action="Create" class='btn btn-primary btn-sm'>Create neue Einheit</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CAUId)</th>
            <th>@Html.DisplayNameFor(model => model.UnitName)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (CarAccessoriesUnitModel CAU in Model)
            {
                <tr>
                    <td>@CAU.CAUId</td>
                    <td>@CAU.UnitName</td>
                    <td>                     
                        <a asp-controller="SettingsCarAccessoriesUnit" asp-action="Edit" class='btn btn-primary btn-sm' asp-route-id="@CAU.CAUId">Edit</a>
                        <a asp-controller="SettingsCarAccessoriesUnit" asp-action="Delete" class='btn btn-danger btn-sm' asp-route-id="@CAU.CAUId">Delete</a>  
                    </td>
                </tr>
            }
    </tbody>
</table>